@radio: ~"@{css-prefix}radio";
@radioGroup: ~"@{css-prefix}radio-group";

.@{radio}{display:inline-flex;align-items:center;cursor:pointer;font-size:14px;margin-right:8px;
    &-inner{position:relative;display:inline-block;margin-right:4px;
        input{margin:0;opacity:0;position:absolute;top:0;z-index:-1}
    }
    &-wrapper{width:16.5px;height:16.5px;display:flex;align-items:center;justify-content:center;border:solid 1px #dcdee2;border-radius:10px;box-sizing:border-box;
        &::after{width:10px;height:10px;border-radius:5px;content:'';display:block;background-color:#2d8cf0;transform:scale(0);transition:.1s}
    }
    &-checked{
        .@{radio}-wrapper{border-color:#2d8cf0;
            &::after{transform:scale(1)}
        }
    }
    &-disabled{cursor:not-allowed;
        .t-radio-wrapper{background-color:#f3f3f3;}
        .@{radio}-wrapper{border-color:#dcdee2;
            &::after{background-color:#ccc}
        }
    }
}

.btn{padding:0 15px;height:32px;border:solid 1px #ccc;
    &:not(&-checked):hover{color:#2d8cf0}
}

.setBorder{
    &:first-child{border-top-left-radius:4px;border-bottom-left-radius:4px;}
    &:last-child{border-top-right-radius:4px;border-bottom-right-radius:4px;}   
}
.@{radioGroup}{display:inline-flex;
    &-button{
        .@{radio}{.btn;.setBorder;margin-right:0;
            &-wrapper{display:none}
            &-checked{border-color:#2d8cf0;background-color:#2d8cf0;color:#fff;}
        }
    }

    &-border{
        .@{radio}{.btn;.setBorder;margin-right:0;
            &-checked{border-color:#2d8cf0;color:#2d8cf0}
        }
    }

    &-vertical{display:flex;flex-direction:column;
        .@{radio}{
            &:first-child{border-top-left-radius:0px;border-bottom-left-radius:0px;}
            &:last-child{border-top-right-radius:0px;border-bottom-right-radius:0px;} 
        }  
    }
}