:root {
  --primary-color: #2d8cf0;
  --primary-hover-color: #57a3f3;
  --primary-active-color: #1881ef;
  --primary-focus-color: rgba(45, 140, 240, 0.2);
  --info-color: #2db7f5;
  --info-hover-color: #57c5f7;
  --info-active-color: #18b0f4;
  --info-focus-color: rgba(45, 183, 245, 0.2);
  --success-color: #19be6b;
  --success-hover-color: #47cb89;
  --success-active-color: #02b85c;
  --success-focus-color: rgba(25, 190, 107, 0.2);
  --warning-color: #ff9900;
  --warning-hover-color: #ffad33;
  --warning-active-color: #ff8f00;
  --warning-focus-color: rgba(255, 153, 0, 0.2);
  --error-color: #ed4014;
  --error-hover-color: #f16643;
  --error-active-color: #eb2d00;
  --error-focus-color: rgba(237, 64, 20, 0.2);
  --title-color: #17233d;
  --text-color: #515a6e;
  --white: #fff;
  --black: #000;
}
