/* CDN 服务仅供平台体验和调试使用，平台不承诺服务的稳定性，企业客户需下载字体包自行发布使用并做好备份。 */
@font-face {
    font-family:@icon-font-family;  /* Project id 3677228 */
    src: url('//at.alicdn.com/t/c/font_3677228_i1djo19xlu.woff2?t=1664334986738') format('woff2'),
         url('//at.alicdn.com/t/c/font_3677228_i1djo19xlu.woff?t=1664334986738') format('woff'),
         url('//at.alicdn.com/t/c/font_3677228_i1djo19xlu.ttf?t=1664334986738') format('truetype');
  }

.@{css-prefix}icon-box{display:inline-flex;align-items:center;font-size:14px;color:inherit}
.@{icon-font-family}{
    display: inline-block;
    font-family:@icon-font-family;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    text-rendering: optimizeLegibility;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    vertical-align: -0.125em;
    text-align: center;
    font-size:24px;
    color:inherit;
    
    &-large{font-size:32px}
    &-small{font-size:16px}
}